<h3>Books</h3>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th class="col-sm-3">Title</th>
        <th class="col-sm-3">Author</th>
        <th class="col-sm-3">Id</th>
    </tr>
    </thead>
    <tbody><% _.each(books, function(book){ %>
    <tr>
        <!--<td class="col-sm-3"><%= book.id %></td>-->
        <td class="col-sm-3"><%= book.title %></td>
        <td class="col-sm-3"><%= book.author %></td>
        <td class="col-sm-3"><a href="#<%= book.id %>">Delete</a></td>
    </tr>
    <%});%></tbody>
</table>
<button type="button" class="btn btn-default btn-sm close-list">Close</button>

