<polymer-element name="get-humans">
  <template>
    <!--listen if new human -->
    <polymer-signals on-polymer-signal-humanadded="{{go}}"></polymer-signals>

    <polymer-ajax
      id="ajax"  handleAs="json" auto=true url="humans" method="GET"
      handleAs="json"
      on-polymer-response="{{onReceive}}"
      on-polymer-error="{{onError}}"
      on-polymer-complete="{{onComplete}}">
    </polymer-ajax>
  </template>

  <script>
    Polymer("get-humans",{
      ready: function(){},
      onReceive: function(response) {
        this.asyncFire('polymer-signal', {name: "allhumans" , data: response.detail.response });
      },
      onError: function(error) {},
      onComplete: function(data) {},
      go : function() {
        this.$.ajax.go()
      }
    });

  </script>
</polymer-element>