<polymer-element name="human-form">
  <template>
    <h3>{{firstName}} {{lastName}}</h3>
    <input value="{{firstName}}" placeholder="Your firstName here...">
    <input value="{{lastName}}" placeholder="Your lastName here...">

    <button on-click="{{addHuman}}">Add Human!</button>
  </template>
  <script>
    Polymer("human-form",{
      ready: function(){},
      addHuman : function() {
        this.asyncFire('polymer-signal', {
          name: "addhuman" ,
          data: {firstName:this.firstName, lastName:this.lastName}
        });
      }
    });
  </script>
</polymer-element>