<polymer-element name="post-human">
  <template>
    <!--listen to form -->
    <polymer-signals on-polymer-signal-addhuman="{{addHumanSignal}}"></polymer-signals>

    <polymer-ajax
      id="ajax"  handleAs="json" auto=false url="humans" method="POST"
      handleAs="json"
      on-polymer-response="{{onReceive}}"
      on-polymer-error="{{onError}}"
      on-polymer-complete="{{onComplete}}">
    </polymer-ajax>

  </template>

  <script>
    Polymer("post-human",{
      ready: function(){

      },
      onReceive: function(response) {
        this.asyncFire('polymer-signal', {name: "humanadded" , data: null });
      },
      onError: function(error) {

      },
      onComplete: function(data) {

      },
      go : function() {
        this.$.ajax.go();
      },
      addHumanSignal : function(e, detail, sender) {

        this.$.ajax.xhrArgs = {body: JSON.stringify(detail)};
        this.$.ajax.go();

      }
    });

  </script>
</polymer-element>